In [1]:
import pandas as pd
import numpy as np

In [2]:
data_path = "D:\\University\\DataScienceWorkshop\\"

In [3]:
events = pd.read_csv(data_path + "events_sample.csv", dtype=np.int32, usecols=[0,3])

In [4]:
#converting timestamp field to hour and day
events["hour"] = (events.timestamp // (3600 * 1000)) % 24
events["day"] = events.timestamp // (3600 * 24 * 1000)

In [5]:
#adding weekend column
#diving day hours to 4 sections to combine results of adjacent hours
events["weekend"] = events["morning"] = events["noon"] = events["evening"] = events["night"] = 0
events.ix[events['day'].isin([4, 5, 11, 12]), 'weekend'] = 1
events.ix[events["hour"] < 6, "night"] = 1
events.ix[(events["hour"] >= 6) & (events["hour"] < 12), "morning"] = 1
events.ix[(events["hour"] >= 12) & (events["hour"] < 18), "noon"] = 1
events.ix[(events["hour"] >= 18) & (events["hour"] <= 23), "evening"] = 1

In [30]:
events.drop(['timestamp', 'hour', 'day'], axis=1, inplace=True)
events

         display_id  weekend  night  morning  noon  evening
0           3037468        0      0        1     0        0
1          22073215        0      0        1     0        0
2          15680974        1      1        0     0        0
3          22723447        0      0        0     0        1
4            474002        0      0        1     0        0
5          14282645        0      0        0     0        1
6           1057108        0      0        0     1        0
7           3794074        0      0        0     0        1
8          11758681        0      1        0     0        0
9          15830722        1      0        1     0        0
10          5871346        1      0        0     1        0
11          1354469        0      0        0     0        1
12          6863345        1      0        1     0        0
13          6872685        1      0        1     0        0
14         14355764        0      0        0     0        1
15         15363125        1      0        0     0        1
16          3153957        0      0        1     0        0
17          5418783        1      1        0     0        0
18         17646183        0      0        1     0        0
19         10550077        0      1        0     0        0
20          5251705        0      0        0     0        1
21         17547362        0      0        0     0        1
22           851079        0      0        0     1        0
23          2180891        0      0        0     1        0
24         14091911        0      0        0     1        0
25         17550980        0      0        0     0        1
26         13269048        0      1        0     0        0
27         15221300        1      0        0     1        0
28          2953533        0      0        1     0        0
29         12371330        0      0        0     1        0
...             ...      ...    ...      ...   ...      ...
2311983     8354503        0      0        0     1        0
2311984       99231        0      1        0     0        0
2311985    15940178        1      0        1     0        0
2311986      186979        0      1        0     0        0
2311987     4039909        0      0        0     0        1
2311988    22238328        0      0        0     1        0
2311989    17962222        1      0        0     1        0
2311990    17227309        0      0        0     1        0
2311991    21090989        0      0        0     1        0
2311992    12100225        0      0        1     0        0
2311993    19056919        0      0        0     1        0
2311994     5268953        0      0        0     0        1
2311995     7022933        1      0        0     1        0
2311996     3450031        0      0        0     1        0
2311997     3118065        0      0        1     0        0
2311998    17355374        0      0        0     0        1
2311999    22207838        0      0        1     0        0
2312000      314320        0      0        1     0        0
2312001    18329383        0      0        0     1        0
2312002    18808121        0      0        0     1        0
2312003    19371232        0      0        0     0        1
2312004     6407996        1      0        0     0        1
2312005     2094868        0      0        0     1        0
2312006     5587514        1      0        1     0        0
2312007    10670684        0      0        1     0        0
2312008    14336737        0      0        0     0        1
2312009     2302819        0      0        0     1        0
2312010    20069043        0      1        0     0        0
2312011    13311690        0      1        0     0        0
2312012    22805209        0      0        0     0        1

[2312013 rows x 6 columns]